<html>
<head>
  <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
  <style> body {padding: 0; margin: 0;} </style>
  <script src="/assets-visu/p5.min.js"></script>
  <script src="/assets-visu/addons/p5.dom.min.js"></script>
  <script src="/assets-visu/addons/p5.sound.min.js"></script>
  <script src="/assets-visu/sketch.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets-visu/utils.js"></script>
  <script>
	const socket = io.connect('/visu');               // On ouvre une connexion avec le serveur
	
	// Variables utilisées pour les tracés dans sketch.js
	var horaires = [];                                // plage de temps discrétisée de la démo
	var histogram = [];								  // histogramme
	var trajet = [];                                  // temps de trajets respectifs des 3 groupes
	var temps_trajets_a_vide = [];                    // temps de trajets de chaque groupe(0 circulation)
	var temps_trajets_max = [];                       // temps de trajets de chaque groupe(saturation max)

	// Chargement des données envoyées par le serveur pour la visualisation
	socket.on('horaires', function(data) {
		horaires = data;
	});

	socket.on('histogramme', function (data) {
		histogram = data;
	});


	socket.on('durees', function(data) {
		trajet = data;
	});

	socket.on('durees_base', function(data) {
		temps_trajets_a_vide = data;
	});

	socket.on('durees_max', function(data) {
		temps_trajets_max = data;
	});

  </script>
</head>
<body>
</body>
</html>
