<html>
<head>
  <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
  <style> body {padding: 0; margin: 0;} </style>
  <script src="/assets-visu/p5.min.js"></script>
  <script src="/assets-visu/addons/p5.dom.min.js"></script>
  <script src="/assets-visu/addons/p5.sound.min.js"></script>
  <script src="/assets-visu/sketch.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets-visu/utils.js"></script>
  <script>
	const socket = io.connect('/visu');
	var histogram = [];
	var trajet = [];

	socket.on('histogram', function (data) {
		alert(data);
		histogram = data;
		console.log('histo: ',data);
	});

	socket.on('times', function(data) {
		trajet = data;
		console.log('times: ',data);
	});
  </script>
</head>
<body>
</body>
</html>
