<!DOCTYPE html>
<html>
<head>
    <title>Flux App</title>
  <link rel="manifest" href="assets/manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="assets/css/index.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="libs/jquery-3.3.1.min.js"> </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
	const socket = io.connect('/mobile');

	$(document).ready(function () {
        // Update data with profile sent from backend
		socket.on('profile', function (data) {
			console.log('data', data);
			if(data) {
                $(".userName").html(data.name);
                $("#from").html(data.from);
                $("#time-user").html(data.time);
            }
		});

		$("#arrivalStart").on("change",function(d) {
		    var start = $(this).val();
			console.log('start', start);
        	socket.emit('start', start);
		});


		$("#arrivalEnd").on("change",function(d) {
		    var end = $(this).val();
			console.log('end', end);
        	socket.emit('end', end);
		});

        console.log("Connected user");
		socket.emit('client', 'unknown');
		var profileId = /\?profile=(.*)/.exec(window.location)[1];
        $("#calImage").attr("src","assets/images/"+profileId+".png")
            console.log("User connected:",profileId);
            socket.emit('client', profileId);
        });

        socket.on('suggestion',function(v) {
            $("#suggestedTime").html(v);
            $("#suggestion").show();
        });
   </script>

</head>

<body>

    <div class="container">
       <div id="menu" class="element">
          <div class="burger">
             <img src="assets/images/menu.png">
          </div>
          <div class="profil">
             <h6> <span class="userName"></h6>
          </div>
          <div class="logo">
           <img src="assets/images/logo.png">
          </div>
       </div>

       <div class="trajetdebut">
         <img class="maison" src="assets/images/maison.png">
         <span id="from">
       </div>
       <div class="trajetfin">
         <img class="entreprise" src="assets/images/entreprise.png">
         <span class="vers"> 2 rue des Érables, 69760 Limonest</span>
       </div>

       <div class="calendarpicto">
         <img src="assets/images/calend.png">
       </div>

       <div class="bulle">
         <div class="element">
    	     <h1> Bonjour <span class="userName"></span>, comment allez-vous ? Prévoyons ensemble votre trajet de demain :)</h1>
         </div>
       </div>

       <div class="bulle2">
          <div id="soustitre">
    	      <h4>Demain matin </h4>
          </div>
          <div id="depart" class="element">
    	      <h2> Je voudrais arriver à :</h2>
          </div>
          <div class="heuredepart">
             <input id="arrivalTime" class="time" type="time">
          </div>
          <div id="flexibilite" class="element">
    	      <h3> Je peux arriver entre :</h3>
          </div>
          <div id="flexible">
            <input id="arrivalStart" class="timebis" type="time">
            <input id="arrivalEnd" class="timebis" type="time">
          </div>
       </div>

        <div class="bulle" id="suggestion" style="display: none">
            <div class="element">
                <h1> Je vous propose de partir à <span id="suggestedTime"></span> pour fluidifer le trafic. </h1>
            </div>
        </div>
<!--
    <div id="soustitre"> <h4> Demain soir </h4> </div>
    <div id="depart" class="element"> <h2> Vous voulez arriver à :</h2> </div>
    <input class="time" type="time">
    <div id="flexibilite" class="element"> <h3> Vous pouvez arriver entre :</h3> </div>
    <div id="flexible">
      <input class="timebis" type="time">
      <input class="timebis" type="time">
    </div>
-->

   </div>

  <div class="calendar-wrapper">
     <div class="calendar">
       <div class="subtitle">
         <h5 class="cal"> Calendrier </h5>
       </div>
       <div class="grille">
         <img id="calImage" src="assets/images/lyon7.png">
       </div>
     </div>
   </div>

   <script>
    $(function() {
      $('.calendarpicto').on('click', function() {
      $('.calendar-wrapper').toggleClass('show');
      });
    });
   </script>



</body>

</html>
