<!DOCTYPE html>
<html>
<head>
  <title>Flux App</title>
  <link rel="manifest" href="assets/manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="assets/css/index.css" type="text/css" rel="stylesheet">
  <link href="assets/css/jquery.timepicker.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="libs/jquery-3.3.1.min.js"> </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

    <div class="container">
       <div id="menu" class="element">
          <div class="burger">
             <img src="assets/images/menu.png">
          </div>
          <div class="profil">
             <h6> <span class="userName"></h6>
          </div>
          <div class="logo">
           <img src="assets/images/logo.png">
          </div>
       </div>

       <div class="trajetdebut">
         <img class="maison" src="assets/images/maison.png">
         <span id="from">
       </div>
       <div class="trajetfin">
         <img class="entreprise" src="assets/images/entreprise.png">
         <span class="vers"> 2 rue des Érables, 69760 Limonest</span>
       </div>

       <div class="calendarpicto">
         <img src="assets/images/calend.png">
       </div>

       <div class="bulle">
         <div class="element">
    	     <h1> Bonjour <span class="userName"></span>, comment allez-vous ? Prévoyons ensemble votre trajet de demain :)</h1>
         </div>
       </div>

       <div class="bulle2">
          <div id="soustitre">
    	      <h4>Demain matin </h4>
          </div>
          <div id="flexibilite" class="element">
    	      <h3> Je peux arriver entre :</h3>
          </div>
          <div id="flexible">
            <select id="arrivalStart" class="timebis"></select>
            <select id="arrivalEnd" class="timebis"></select>
          </div>
      </div>

        <div class="bulle" id="suggestion" style="display: none">
            <div class="element">
                <h1> Votre trajet va durer <span id="timeMove"></span> minutes. </br>
                Je vous propose d'arriver à <span id="suggestedTime"></span> pour fluidifer le trafic. </h1>
            </div>
        </div>

        <div class="bulle" id="effet_collegues" style="display: none">
            <div class="element">
                <h1> Vos collègues ont changé leurs plans ! Vous <span id="deltaT"></span> minutes. </br>
            </div>
        </div>

   </div>

  <div class="calendar-wrapper">
     <div class="calendar">
       <div class="subtitle">
         <h5 class="cal"> Calendrier </h5>
       </div>
       <div class="grille">
         <img id="calImage" src="assets/images/lyon7.png">
       </div>
     </div>
   </div>

  <script>
    const socket = io.connect('/mobile');                           // socket de communication avec le serveur

    $(document).ready(function () {

      var dates_eligibles;                                          // dates d'arrivée sélectionnables par l'utilisateur
      var montrer = false;                                          // si montrer=true, l'interface de conseil s'affiche
      var profileId = /\?profile=(.*)/.exec(window.location)[1];    // ID associé à l'utilisateur (c'est sa ville de départ, on va la chercher dans l'URL de la page)
      $("#calImage").attr("src","assets/images/"+profileId+".png")  // on va chercher l'emploi du temps de l'utilisateur
      socket.emit('client', profileId);                             // on demande au serveur les informations d'initialisation de la démo.

      $("#arrivalStart").on("change",function(d) {                  // transmet au serveur lorsque l'utilisateur change le début de sa plage d'arrivée
        var start = $(this).val();
        socket.emit('start', start);
      });

      $("#arrivalEnd").on("change",function(d) {                    // transmet au serveur lorsque l'utilisateur change la fin de sa plage d'arrivée
        var end = $(this).val();
        socket.emit('end', end);
      });

      socket.on('profils', function (data) {                        // intègre les informations de profil (nom et ville=ID) transmises
        if(data) {                                                  // par le serveur en réponse à la requête 'client'.
          $(".userName").html(data.name);
          $("#from").html(data.from);
        };
      });

      socket.on('dates_eligibles', function(dates) {                // intègre la liste des dates d'arrivées que l'utilisateur peut entrer dans les
        dates_eligibles = dates;                                    // champs "heure d'arrivée min" et "heure d'arrivée max"
        dates_eligibles.forEach(function(date) {
          $('.timebis').append("<option value='" + date + "'>" + date + "</option>");
        });
        $('.timebis').val('08:30');
      });

      socket.on('chatbot_affichable', function(data) {montrer = true}); // rend visible la bulle de suggestion d'heure d'arrivée

      socket.on('date_depart',function(data) {
          if(data.actif == profileId) {
            $("#suggestedTime").html(data.nv_date);
            if(montrer) {$("#suggestion").show()};
          };
      });

      socket.on('durees',function(data) {                           // actions à réaliser lorsque la plage d'horaires de départ de l'un des 3
        if(data.actif != profileId && montrer) {                    // groupes d'utilisateurs change
          var deltaT = parseInt($('#timeMove').html()) - data.nv_durees[profileId];
          if(deltaT != 0) {
            deltaT = (deltaT < 0) ? ('perdez ' + String(Math.abs(deltaT))) :
                                    ('gagnez ' + String(Math.abs(deltaT)));
            $("#deltaT").html(String(deltaT));
            $("#effet_collegues").show();
          };
        };
        $("#timeMove").html(data.nv_durees[profileId]);
        $("#timeMove").show();
      });

      // On rend le calendrier consultable
      $(function() {
        $('.calendarpicto').on('click', function() {
          $('.calendar-wrapper').toggleClass('show');
        });
      });
    });

  </script>

</body>

</html>
